body {background-color:lightgray; color:#3d3d3d;}

p {background-color:lightgray; color:#3d3d3d;}

h1 {background-color:lightgray; color:#3d3d3d;}

h2 {background-color:lightgray; color:#3d3d3d}

h3 {background-color:lightgray; color:#3d3d3d}

h4 {background-color:lightgray; color:#3d3d3d}

h5 {background-color:lightgray; color:#3d3d3d}

hr {background-color:lightgray; color:#3d3d3d; border:2px solid gray;}

a:link{background-color:lightgray; color:#ff784f}

a:visited{background-color:lightgray; color:#a63e29}

a:hover{font-style:italic; color:#4e9fe6; background-color:#e8e8e8}

p:hover{font-style:italic;}
